@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Products List</h1>
</div>

<div class="row">
    @Html.ActionLink("Mazda", "ViewProduct", new { Id=1})
    <br/>

    @Html.ActionLink("Mobile Samsung", "ViewProduct", new { Id = 2 })
</div>
<br />
<div >
    @Html.ActionLink("Add Car", "AddProduct", new { category=1 })
</div>
<div>
    @Html.ActionLink("Add Mobile", "AddProduct", new { category = 2 })
</div>