
@{
    ViewBag.Title = "Add Product";
}

<script src="~/Scripts/jquery-2.1.0.js"></script>
<script src="~/Scripts/ozibazar.dependentdropdown.js"></script>
<script src="~/Scripts/ozibazar.validation.js"></script>
<h2>Add Product</h2>
@using(Html.BeginForm("CreateProduct","Product",FormMethod.Post,new{id="addProdForm"}))
{
<div>
    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.ProductInfo))
</div>
<input type="submit" value="Create Product" />
}

