
@{
    ViewBag.Title = "View Product";
}

<h2>View Product</h2>
<div>
@Html.Raw(HttpUtility.HtmlDecode(ViewBag.ProductInfo))
</div>
<td>
    @Html.ActionLink("Back To List", "AdList", new { controller = "Ad" }, new { @class = "btn btn-primary" })
</td>
